<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Pet Type:</strong>
  <%= @patient.pet_type %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @patient.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @patient.weight %>
</p>

<p>
  <strong>Date of last appointment:</strong>
  <%= @patient.date_of_last_appointment %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
