<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>
<p>
  <strong>Customer:</strong>
  <%= @appointment.patient.customer.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Require reminder:</strong>
  <%= @appointment.require_reminder %>
</p>

<p>
  <strong>Reason for visit:</strong>
  <%= @appointment.reason_for_visit %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
